<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IronCompress" version="1.6.3" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" />
  <package id="Microsoft.Data.Analysis" version="0.22.0" manuallyInstalled="true" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.1" />
  <package id="Microsoft.ML.DataView" version="4.0.0" />
  <package id="Parquet.Net" version="5.0.1" manuallyInstalled="true" />
  <package id="Snappier" version="1.1.6" />
  <package id="System.Collections.Immutable" version="8.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" />
  <package id="System.Text.Encodings.Web" version="8.0.0" />
  <package id="System.Text.Json" version="8.0.5" />
  <package id="ZstdSharp.Port" version="0.8.1" />
</packages>